body{
    background-color: blue;
}
.Dad{
    background-color: red;
}
.Mom{
    background-color: gold;
}
.Dennis{
    background-color: chartreuse;
}
.AthurJoe{
    background-color: darkblue;
}
.Nathaniel{
    background-color: darkorange;
}