body{
    background-color: blue;
}
.Dad{
    background-color: blueviolet;
}
.Mom{
    background-color: brown;
}
.Dennis{
    background-color: chartreuse;
}
.AthurJoe{
    background-color: cornflowerblue;
}
.Nathaniel{
    background-color: darkorange;
}